@import url("https://static.zeoseven.com/zsft/170/main/result.css");

/*去除全局基本样式*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "WenQuanYi Bitmap Song 12px", sans-serif;
  font-weight: normal;
}

h1,
p {
  margin: 0;
  padding: 1vh;
}

.hang {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: #090909;
  font-family: "WenQuanYi Bitmap Song 12px", sans-serif;
  padding: 0.5em 1em;
  font-size: 0.7em;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.card {
  margin: 10px;
  width: 175px;
  height: 254px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  border-radius: 0.5em;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.card-img {
  background-image: url(../img/nainiwan.png);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-info {
  padding-top: 0%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.7em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.card-img01 {
  background-image: url(../img/bale.png);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img02 {
  background-image: url(../img/mou.png);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img03 {
  background-image: url(../img/mangguo.png);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img04 {
  background-image: url(../img/log.png);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img05 {
  background-image: url(../img/paopao.png);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img06 {
  background-image: url(../img/naicha.png);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img07 {
  background-image: url(../img/guolao_boluomi.png);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-img08 {
  background-image: url(../img/pingpang.png);
  background-size: cover;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
